@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

$primary-color: #444;

/* Button Colors */
$button-lawn-normal: #92BF4E;
$button-lawn-hover: #B5D99C;
$button-start-normal: #3B7302;
$button-start-hover: #4D9900;
$button-stop-normal: #730202;
$button-stop-hover: #990000;


body, html{
    margin: 0;
    height: 100%;
}

.bg-index {
    background: url("../assets/img/lawn-landing.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
}

.bg-simulator {
    background: url("../assets/img/simulator-bg.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.54);
    height: 100%;
}

.menu-background {
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.09);
    width: 30em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button-lawn {
    border-radius: 8px;
    background: $button-lawn-normal;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    color: #1B4001;
    width: 70%;
    height: 2.75em;
}

.button-lawn:hover {
    background: $button-lawn-hover;
}

.hidden{
    display: none;
}


#title {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 5em;
    margin: 0 auto;
    color: #B5D99C;
}

.lawn-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    width: 90%; 
  }

.lawn-settings {
    display: flex;
    flex-direction: row;
}

.lawn-settings p{
    color: #eee;
}

.lawn-and-stats {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 90%;
    margin-top: 1em;
  }

.lawn {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.09);  
  }

  .stats {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    /* background: hotpink; */
    margin-left: 1em;
  }

  .bottom-row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 10%;
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
  }

  .button-start {
    border-radius: 8px;
    background: $button-start-normal;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    color: #FFFFFF;
    padding-left: 2em;
    padding-right: 2em;
    height: 2.5em; 
    margin-right: 1em;
  }

.button-start:hover {
    background: $button-start-hover;
}

.button-stop {
    border-radius: 8px;
    background: $button-stop-normal;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    color: #FFFFFF;
    height: 2.5em; 
  }

.button-stop:hover {
    background: $button-stop-hover;
}

.stat-button {
    font-family: Roboto;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    height: 2.5em;
    color: #FFFFFF;
    margin-bottom: 1em;
  }


.timer {
    font-family: Roboto;
    border-radius: 8px;
    background: rgba($color: #000000, $alpha: 
    0.5);
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    height: 2.5em;
    color: #FFFFFF;
    flex-grow: 4;
}


.simple-form {
    display: flex;
    // overflow-y: scroll;
    padding-bottom: 1.25rem;
}

.simple-form input {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}

.simple-form input:optional {
  border-left-color: #999;
}

.simple-form input:required {
  border-left-color: palegreen;
}

.simple-form input:invalid {
  border-left-color: salmon;
}

  /* For the generated lawn */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex: 1 0 50px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
//   min-height: 100px;
//   max-height: 68%;
}

  /* For the generated lawn */
.col {
  margin: 5px;
  color: white;
  flex: 1 0 50px;
  background-size: cover;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

#lawnGrid {
    min-height: 0;
    min-width: 0;
    overflow: auto;
}

  /* For the generated lawn */
.col:before {
  content:'';
  float:left;
  padding-top:100%;
}
